{% extends "layout.njk" %}
{% import "parts/section-products.njk" as section %}

{% block content %}

  {# ta chamando a function macro #}
  {{section.products("Últimos Produtos", "container", products)}}

{% endblock content %}